tv_wf.json
{"updatedAt":"2026-03-11T14:32:13.980Z","createdAt":"2026-03-11T13:28:34.577Z","id":"M7ykxZSGE0iuT5cq","name":"📺 TV — Посты для телевизора","description":null,"active":true,"isArchived":false,"nodes":[{"id":"n1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,300],"parameters":{"httpMethod":"GET","path":"tv-posts","responseMode":"responseNode","options":{}},"webhookId":"tv-posts-electrocentre"},{"id":"n2","name":"Получение обновлений","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[420,300],"parameters":{"method":"GET","url":"https://api.telegram.org/bot8732835567:AAH6ZqWNPM57nuSY6SybjtlVjJk_vxBcOjk/getUpdates?limit=100","options":{}}},{"id":"n3","name":"Парсинг постов","type":"n8n-nodes-base.code","typeVersion":2,"position":[640,300],"parameters":{"mode":"runOnceForAllItems","jsCode":"const TOKEN = '8732835567:AAH6ZqWNPM57nuSY6SybjtlVjJk_vxBcOjk';\nconst BASE = `https://api.telegram.org/bot${TOKEN}`;\nconst PROXY = 'https://kokolsk1y.app.n8n.cloud/webhook/tv-video?url=';\n\nfunction proxyUrl(url) {\n  return url ? PROXY + encodeURIComponent(url) : '';\n}\n\n// Кэш постов между запросами\nconst cache = $getWorkflowStaticData('global');\nif (!cache.photos) cache.photos = [];\nif (!cache.video) cache.video = null;\n\nconst updates = $input.first().json.result || [];\n\n// Берём только channel_post, сортируем по message_id (старые → новые)\nconst channelPosts = updates\n  .filter(u => u.channel_post)\n  .map(u => u.channel_post)\n  .sort((a, b) => a.message_id - b.message_id);\n\nfor (const msg of channelPosts) {\n  if (msg.photo) {\n    // Берём самый большой размер фото\n    const largest = msg.photo[msg.photo.length - 1];\n    const fileRes = await fetch(`${BASE}/getFile?file_id=${largest.file_id}`);\n    const fileJson = await fileRes.json();\n    const imgUrl = fileJson.ok\n      ? `https://api.telegram.org/file/bot${TOKEN}/${fileJson.result.file_path}`\n      : '';\n    cache.photos.unshift({\n      type: 'photo',\n      text: msg.caption || '',\n      date: new Date(msg.date * 1000).toISOString(),\n      img: proxyUrl(imgUrl),\n      msg_id: msg.message_id\n    });\n    // Оставляем только 2 последних фото\n    cache.photos = cache.photos.slice(0, 2);\n  }\n\n  if (msg.video) {\n    const videoRes = await fetch(`${BASE}/getFile?file_id=${msg.video.file_id}`);\n    const videoJson = await videoRes.json();\n    const videoUrl = videoJson.ok\n      ? `https://api.telegram.org/file/bot${TOKEN}/${videoJson.result.file_path}`\n      : '';\n\n    let thumbUrl = '';\n    const thumb = msg.video.thumbnail || msg.video.thumb;\n    if (thumb) {\n      const thumbRes = await fetch(`${BASE}/getFile?file_id=${thumb.file_id}`);\n      const thumbJson = await thumbRes.json();\n      thumbUrl = thumbJson.ok\n        ? `https://api.telegram.org/file/bot${TOKEN}/${thumbJson.result.file_path}`\n        : '';\n    }\n\n    cache.video = {\n      type: 'video',\n      text: msg.caption || '',\n      date: new Date(msg.date * 1000).toISOString(),\n      videoUrl: proxyUrl(videoUrl),\n      videoThumb: proxyUrl(thumbUrl),\n      msg_id: msg.message_id\n    };\n  }\n}\n\n// Подтверждаем обновления (чтобы не накапливались в очереди)\nif (updates.length > 0) {\n  const lastId = Math.max(...updates.map(u => u.update_id));\n  await fetch(`${BASE}/getUpdates?offset=${lastId + 1}&limit=1`);\n}\n\nconst posts = [\n  ...cache.photos,\n  ...(cache.video ? [cache.video] : [])\n];\n\nreturn [{ json: { posts, updatedAt: new Date().toISOString() } }];\n"}},{"id":"n4","name":"Ответ","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[860,300],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($input.first().json) }}","options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}}}}],"connections":{"Webhook":{"main":[[{"node":"Получение обновлений","type":"main","index":0}]]},"Получение обновлений":{"main":[[{"node":"Парсинг постов","type":"main","index":0}]]},"Парсинг постов":{"main":[[{"node":"Ответ","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"c631b1fc-4678-4f2f-8bce-9a615f73d5ce","activeVersionId":"c631b1fc-4678-4f2f-8bce-9a615f73d5ce","versionCounter":15,"triggerCount":1,"shared":[{"updatedAt":"2026-03-11T13:28:34.579Z","createdAt":"2026-03-11T13:28:34.579Z","role":"workflow:owner","workflowId":"M7ykxZSGE0iuT5cq","projectId":"yZfezxdV9XExngKa","project":{"updatedAt":"2026-01-22T15:33:19.649Z","createdAt":"2026-01-22T15:33:13.392Z","id":"yZfezxdV9XExngKa","name":"kokolsk1y   <ikokolsk1y@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8d512ade-a0e8-4f5b-a6e2-a1607ff5bf53"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-11T14:32:13.980Z","createdAt":"2026-03-11T14:32:13.980Z","versionId":"c631b1fc-4678-4f2f-8bce-9a615f73d5ce","workflowId":"M7ykxZSGE0iuT5cq","nodes":[{"id":"n1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,300],"parameters":{"httpMethod":"GET","path":"tv-posts","responseMode":"responseNode","options":{}},"webhookId":"tv-posts-electrocentre"},{"id":"n2","name":"Получение обновлений","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[420,300],"parameters":{"method":"GET","url":"https://api.telegram.org/bot8732835567:AAH6ZqWNPM57nuSY6SybjtlVjJk_vxBcOjk/getUpdates?limit=100","options":{}}},{"id":"n3","name":"Парсинг постов","type":"n8n-nodes-base.code","typeVersion":2,"position":[640,300],"parameters":{"mode":"runOnceForAllItems","jsCode":"const TOKEN = '8732835567:AAH6ZqWNPM57nuSY6SybjtlVjJk_vxBcOjk';\nconst BASE = `https://api.telegram.org/bot${TOKEN}`;\nconst PROXY = 'https://kokolsk1y.app.n8n.cloud/webhook/tv-video?url=';\n\nfunction proxyUrl(url) {\n  return url ? PROXY + encodeURIComponent(url) : '';\n}\n\n// Кэш постов между запросами\nconst cache = $getWorkflowStaticData('global');\nif (!cache.photos) cache.photos = [];\nif (!cache.video) cache.video = null;\n\nconst updates = $input.first().json.result || [];\n\n// Берём только channel_post, сортируем по message_id (старые → новые)\nconst channelPosts = updates\n  .filter(u => u.channel_post)\n  .map(u => u.channel_post)\n  .sort((a, b) => a.message_id - b.message_id);\n\nfor (const msg of channelPosts) {\n  if (msg.photo) {\n    // Берём самый большой размер фото\n    const largest = msg.photo[msg.photo.length - 1];\n    const fileRes = await fetch(`${BASE}/getFile?file_id=${largest.file_id}`);\n    const fileJson = await fileRes.json();\n    const imgUrl = fileJson.ok\n      ? `https://api.telegram.org/file/bot${TOKEN}/${fileJson.result.file_path}`\n      : '';\n    cache.photos.unshift({\n      type: 'photo',\n      text: msg.caption || '',\n      date: new Date(msg.date * 1000).toISOString(),\n      img: proxyUrl(imgUrl),\n      msg_id: msg.message_id\n    });\n    // Оставляем только 2 последних фото\n    cache.photos = cache.photos.slice(0, 2);\n  }\n\n  if (msg.video) {\n    const videoRes = await fetch(`${BASE}/getFile?file_id=${msg.video.file_id}`);\n    const videoJson = await videoRes.json();\n    const videoUrl = videoJson.ok\n      ? `https://api.telegram.org/file/bot${TOKEN}/${videoJson.result.file_path}`\n      : '';\n\n    let thumbUrl = '';\n    const thumb = msg.video.thumbnail || msg.video.thumb;\n    if (thumb) {\n      const thumbRes = await fetch(`${BASE}/getFile?file_id=${thumb.file_id}`);\n      const thumbJson = await thumbRes.json();\n      thumbUrl = thumbJson.ok\n        ? `https://api.telegram.org/file/bot${TOKEN}/${thumbJson.result.file_path}`\n        : '';\n    }\n\n    cache.video = {\n      type: 'video',\n      text: msg.caption || '',\n      date: new Date(msg.date * 1000).toISOString(),\n      videoUrl: proxyUrl(videoUrl),\n      videoThumb: proxyUrl(thumbUrl),\n      msg_id: msg.message_id\n    };\n  }\n}\n\n// Подтверждаем обновления (чтобы не накапливались в очереди)\nif (updates.length > 0) {\n  const lastId = Math.max(...updates.map(u => u.update_id));\n  await fetch(`${BASE}/getUpdates?offset=${lastId + 1}&limit=1`);\n}\n\nconst posts = [\n  ...cache.photos,\n  ...(cache.video ? [cache.video] : [])\n];\n\nreturn [{ json: { posts, updatedAt: new Date().toISOString() } }];\n"}},{"id":"n4","name":"Ответ","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[860,300],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($input.first().json) }}","options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}}}}],"connections":{"Webhook":{"main":[[{"node":"Получение обновлений","type":"main","index":0}]]},"Получение обновлений":{"main":[[{"node":"Парсинг постов","type":"main","index":0}]]},"Парсинг постов":{"main":[[{"node":"Ответ","type":"main","index":0}]]}},"authors":"kokolsk1y  ","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-11T14:32:14.270Z","id":326,"workflowId":"M7ykxZSGE0iuT5cq","versionId":"c631b1fc-4678-4f2f-8bce-9a615f73d5ce","event":"activated","userId":"8d512ade-a0e8-4f5b-a6e2-a1607ff5bf53"},{"createdAt":"2026-03-11T14:32:14.131Z","id":325,"workflowId":"M7ykxZSGE0iuT5cq","versionId":"c631b1fc-4678-4f2f-8bce-9a615f73d5ce","event":"deactivated","userId":"8d512ade-a0e8-4f5b-a6e2-a1607ff5bf53"}]}}